@font-face {
    font-family: 'Brutal Type';
    src: local('Brutal Type Medium'), local('../fonts/Brutal-Type-Medium'),
        url('../fonts/BrutalType-Medium.woff2') format('woff2'),
        url('../fonts/BrutalType-Medium.woff') format('woff'),
        url('../fonts/BrutalType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  *
  {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Brutal Type';
  }
  .sec
  {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #222;
  }
  .sec .dot
  {
      position: absolute;
      width: 15px;
      height: 15px;
      background: #7f6f00;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      cursor: default;
      transition: box-shadow 0.5s;
  }
  .sec .dot:active
  {
      box-shadow: 0 0 0 200vh #7f6f00;
      border: 2px solid #6d0064;
  }
  .sec .dot.active
  {
      background: #6d0064;
      border: 2px solid #6d0064;
  }
  .sec .dot.active:active
  {
      box-shadow: 0 0 0 200vh #6d0064;
      border: 2px solid #7f6f00;    
  }
  .sec .dot::before
  {
      content: '';
      position: absolute;
      top: 50%;
      left: 50px;
      white-space: nowrap;
      transform: translateY(-50%);
      color: #7f6f00;
      font-size: 1.5em;
      font-weight: 500;
  }
  .sec .dot.active::before
  {
      content: '';
      color: #6d0064;
  }
  .sec h2
  {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26vw;
      color: #fff;
      background: #6d0064;
      user-select: none;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      mix-blend-mode: multiply;
  }
  .sec.active h2
  {
      color: #000;
      background: #7f6f00;
      mix-blend-mode: screen;
  }
  .sec video
  {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  
  }
  .contact
  {
      position: absolute;
      list-style: none;
      top: 20px;
      right: 40px;
  }
  .contact a
  {
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      color: #7f6f00;
      text-shadow: 0 0 10px #7f6f00, 0 0 40px #7f6f00, 0 0 80px #7f6f00;
  }
  .contact a:hover
  {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  }
  .contact a.active
    {
        color: #6d0064;
        text-shadow: 0 0 10px #6d0064, 0 0 40px #6d0064, 0 0 80px #6d0064;
    }
  .contact a.active:hover
  {
      color: #000;
      text-shadow: 0 0 10px #000, 0 0 40px #000, 0 0 80px #000;
  }


  
#popup
{
position: fixed;
top: -100%;
left: 50%;
transform: translate(-50%,-50%);
z-index: 1000;
background: #6d006499;
width: 450px;
padding: 80px 50px 50px;
box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
transition: 0.5s;
visibility: hidden;
}
#popup.active
{
    background: #7f6f0099;
}
#popup.popup
{
    visibility: visible;
    top: 50%;
}
#popup .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popup .content img
{
    max-width: 80px;
}
#popup .content h3
{
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    margin: 20px 0 10px;
}
#popup .content p
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 0 0 15px #fff, 0 0 45px #fff, 0 0 85px #fff;
}
#popup .content .inputBox
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup .content .inputBox form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#popup .content .inputBox form .btn
{    
    margin-top: 20px;
}
#popup .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    outline: none;
    font-size: 18px;
}
#popup .content .inputBox input[type="submit"]
{
    max-width: 150px;
    background: #7f6f00;
    color: #fff;
    border: none;
    text-transform: uppercase;
}
#popup.active .content .inputBox input[type="submit"]
{
    background: #6d0064;
}
#popup .content .inputBox input[type="submit"]:hover
{
    transition: box-shadow 0.7s;
    cursor: pointer;
    box-shadow: 0 0 10px #7f6f00, 0 0 40px #7f6f00, 0 0 80px #7f6f00;
}
#popup.active .content .inputBox input[type="submit"]:hover
{    
    box-shadow: 0 0 10px #6d0064, 0 0 40px #6d0064, 0 0 80px #6d0064;
}
#popup .content .inputBox .formulario textarea
{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    outline: none;
    font-size: 18px;
    resize: none;
    height: 80px;
}
.close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 992px)
{    
  .sec .dot
  {
      background: transparent;
  }
  .sec .dot.active
  {
      background: transparent;
      border: 2px solid transparent;
  }
}