{% extends "layout.html" %}
{% block content %}
    <section class="sec">
        <video src="https://cdn2.unrealengine.com/homepage-opener-5a55a50aaa4c.mp4" type="video/mp4" autoplay muted loop></video>
        <h2>Utopia</h2>
        <div class="dot"></div>
        <ul class="contact">
            <li>
                <a onclick="popupToggle();" href="#">Contact</a>
                <div id="popup">
                    <div class="content">
                        <h3>Welcome</h3>
                        <p>Get in touch!</p>
                        <div class="inputBox">
                            <form action="/" id="capform" class="formulario" method="post">
                                <input type="text" id="nombre" class="nombre" name="nombre" placeholder="UT Alias (Feel free to get one!)" required>
                                <input type="email" id="email" class="email" name="email" placeholder="Email" required multiple>
                                <textarea id="mensaje" class="mensaje" name="mensaje" placeholder="Message" required></textarea>
                                <input type="submit" value="Send" class="btn">
                            </form>
                        </div>
                    </div>        
                    <a class="close" onclick="popupToggle();"><img src="{{url_for('static', filename='img/close.png')}}" alt="close"></a>
                </div>
            </li>
        </ul>
    </section>
    <script src="{{url_for('static', filename='js/popup.js')}}"></script>
    <script src="{{url_for('static', filename='js/colordblclick.js')}}"></script>
    {% endblock %}
